:root {
  --main-color: #000;
  --bright-background-color: #fdf4e4;
  --background-light-color: #fff4e2;
  --border-color: #fadbae;
  --accent-color: #9b6109;
  --font-main: 'Fira Sans';
  --font-size: 1em;
  --color-text-primary: #000;
  --color-accent-primary: #9b6109;
  --color-accent-secondary: #fdf4e4;
}

@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  font-style: normal;
  src: url(FiraSans-Regular.2996c4e3.eot);
  src: url(FiraSans-Regular.c8404b2b.woff2) format('woff2');
}

@font-face {
  font-family: Fira Sans;
  font-weight: 700;
  font-style: normal;
  src: url(FiraSans-Bold.50ba5b30.eot);
  src: url(FiraSans-Bold.a2716426.woff2) format('woff2');
}

body,
html {
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

path {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

body {
  font-size: var(--font-size);
  line-height: 1.54;
  min-width: 320px;
  position: relative;
  font-family: var(--font-main);
  color: var(--color-text-primary);
  margin: 0;
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

::-moz-placeholder {
  color: #666;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

::placeholder {
  color: #666;
  opacity: 1;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
  display: block;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
  display: block;
}

.image img {
  display: block;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

h2 li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  outline: 0;
  border: none;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  background: 0 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

body.hidden {
  overflow: hidden;
}

.section {
  /* TODO need to remove important ones after menu changes */
  margin-top: 80px !important;
}

.header {
  padding: 25px 0;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-list li + li {
  margin-left: 25px;
}

.main-list a {
  display: inline-block;
  position: relative;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-inner {
  background-color: #333;
}

.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #333;
}

.button {
  width: 100%;
  max-width: 13.5em;
  padding: 0.9375em 0.6875em;
  color: currentColor;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-align: center;
  border: 1px solid var(--color-accent-primary);
  border-radius: 0.25em;
}

.button--primary {
  color: var(--color-accent-secondary);
  background-color: var(--color-accent-primary);
}

.button--secondary {
  color: var(--color-accent-primary);
  background-color: var(--color-accent-secondary);
}

.button--primary:hover {
  background: #744907;
}

.button--secondary:hover {
  background: #ffe5b9;
}

.h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 42px;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 21px;
}

.h3 {
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 27px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 76px;
  }

  .section {
    /* TODO need to remove important ones after menu changes */
    margin-top: 100px !important;
  }
}

.work {
  margin-bottom: 86px;
}

.work-list {
  display: none;
}

.work-bg {
  display: none;
}

.work-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-item {
  width: 50%;
}

.work-img {
  position: relative;
  z-index: 1;
  max-width: 635px;
}

.work-img__bg {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.work-img__circle {
  position: absolute;
  bottom: -32px;
  right: -81px;
  z-index: -1;
}

.work-img__circle2 {
  display: none;
}

.work-info {
  max-width: 403px;
  margin-left: auto;
  margin-right: 71px;
  margin-top: 7px;
}

.view {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.view-circle2 {
  display: none;
}

.view-circle {
  position: absolute;
  z-index: -2;
  left: 50%;
  bottom: 57.5px;
  margin-left: -89px;
}

.view::before {
  width: 100%;
  background: #fdf4e4;
  height: 281px;
  border-top: 1px solid #9b6109;
  left: 0;
  top: 136px;
}

.view-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.view-img {
  padding-right: 46px;
}

.view-img img {
  display: block;
  margin-left: auto;
}

.view-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

.view-head {
  margin-bottom: 24px;
  font-weight: 700;
  color: #9b6109;
  font-size: 32px;
  margin-bottom: 18px;
}

.view-content {
  position: relative;
  top: -14px;
  padding-left: 12px;
}

.view-content,
.view-img {
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.contact {
  margin-bottom: 40px;
}

.contact-icon {
  margin-bottom: 54px;
  display: block;
}

.contact-icon img {
  display: block;
  margin: 0 auto;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.inner .feature-img img {
  width: 464px;
  left: 9px;
}

@media only screen and (max-width: 1300px) {
  .work-img__circle {
    width: 46vw;
  }
}

@media only screen and (max-width: 1300px) {
  .work-info {
    margin-left: auto;
    margin-right: auto;
  }

  .work-img__circle {
    right: -30px;
    bottom: -20px;
  }
}

@media only screen and (max-width: 1023px) {
  .btn {
    font-size: 16px;
  }

  .h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .work-info {
    margin-top: 0;
  }

  .work-item {
    padding: 0 15px;
  }

  .work-row {
    margin: 0 -15px;
  }

  .work-img__circle {
    right: -15px;
  }

  .view-row {
    left: 0;
  }

  .view-img {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 20px;
  }

  .inner .work {
    margin-top: -65px;
    padding-bottom: 85px;
  }

  .inner .feature {
    margin-bottom: 0;
  }

  .inner .feature-benefit {
    top: -9px;
  }

  .inner .feature-img img {
    width: 397px;
  }

  .inner .feature-item:first-child {
    margin-bottom: 80px;
  }

  .view {
    margin-bottom: 112px;
  }

  .view::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .view-circle {
    display: none;
  }

  .view-circle2 {
    display: block;
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -71px;
  }

  .view-row {
    left: -38px;
  }

  .view-head {
    line-height: 1.25;
    margin-bottom: 22px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .view-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 16px;
  }

  .view-nav .btn {
    width: 100%;
    max-width: 216px;
  }

  .view-img {
    width: 170px;
    margin-right: 26px;
    padding-right: 0;
    -ms-flex-negative: 0;
  }

  .view-img img {
    max-width: none;
    width: 100%;
  }

  .view-content {
    text-align: center;
    width: 216px;
    -ms-flex-negative: 0;
    top: -10px;
    padding-left: 0;
  }

  .contact-icon {
    display: none;
  }

  .work {
    position: relative;
    overflow: hidden;
    padding-top: 91px;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 64px;
  }

  .work-list {
    display: block !important;
    padding-left: 12px !important;
  }

  .work-bg {
    display: block;
    position: absolute;
    top: 22px;
    left: -235px;
    max-width: none;
    pointer-events: none;
  }

  .work-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 109px;
  }

  .work-item {
    width: 100%;
  }

  .work-item:last-child {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .work-info {
    padding-left: 12px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .work-img {
    width: 380px;
    left: -118px;
    z-index: auto;
  }

  .work-img__circle {
    display: none;
  }

  .work-img__circle2 {
    display: block;
    position: absolute;
    z-index: -1;
    right: -88px;
    bottom: -55px;
  }
}

@media only screen and (max-width: 374px) {
  .view-content {
    width: 175px;
  }

  .view-img {
    margin-right: 14px;
  }

  .btn {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .h1,
  .h2 {
    font-size: 28px;
  }
}

.works__h2 {
  color: var(--main-color);
  margin-bottom: 16px;
}

.card-list {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;

  counter-reset: card-list-item-counter;
}

.card-list__item {
  flex-basis: 100%;
  background: var(--bright-background-color);
  border-radius: 16px;
  overflow: hidden;

  counter-increment: card-list-item-counter;
}

.card {
  margin: 0;
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__desc {
  height: 100%;
  padding: 32px 12px;
}

.card__header {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card__header::before {
  content: counter(card-list-item-counter) ". ";;
}

.card__item {
  list-style-type: disc;
  list-style-position: inside;
}

.card__item::marker {
  content: '\2022';
}

.card__text {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__text:not(:last-child) {
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .works__h2 {
    text-align: center;
  }

  .card-list__item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media (min-width: 1024px) {
  .works__h2 {
    margin-bottom: 40px;
  }

  .card-list {
    gap: 44px;
  }

  .card-list__item {
    flex-basis: calc((100% - 2 * 44px) / 3);
  }
}

.feature {
  position: relative;
  overflow-x: clip;
  overflow-y: visible;
}

.feature__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.h2--feature {
  margin-bottom: 16px;
}

.feature__section {
  flex-shrink: 0;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature-list__item {
  display: flex;
  align-items: baseline;
  gap: 8px;

  font-size: 24px;
  line-height: normal;
}

.feature-list__icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 100px;
  border: 1px solid var(--border-color);
  background: var(--background-light-color);
}

.feature__picture {
  position: relative;
  margin-left: auto;
  padding-left: 24px;
}

.feature__img {
  position: relative;
  display: block;
  width: 435px;
  height: 588px;
  max-width: none;
  object-fit: contain;
  object-position: top left;
}

.feature__picture::before {
  content: '';
  position: absolute;
  top: -18px;
  left: calc(-116px + 23px);
  width: 336px;
  height: 298px;
  z-index: -1;
  background: url('feature-cirlce.9b45b780.svg');
}

@media (min-width: 768px) {
  .feature__section:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .feature__container {
    flex-direction: row;
    justify-content: start;
    gap: 0;
  }

  .h2--feature {
    margin-bottom: 40px;
  }

  .feature__picture {
    padding-left: 0;
  }

  .feature__picture::before {
    top: -186px;
    left: -200px;
  }

  .feature__img {
    width: 477px;
    height: 652px;
  }

  .feature__section:nth-child(1),
  .feature__section:nth-child(3) {
    max-width: 304px;
  }

  .feature__section:nth-child(1) {
    order: 1;
  }

  .feature__section:nth-child(2) {
    order: 3;
    position: relative;
  }

  .feature__section:nth-child(3) {
    order: 2;
    margin-left: 24px;
  }
}

.hero {
  padding-top: 24px;
  overflow-x: clip;
  overflow-y: visible;
}

.hero__logo {
  width: 88px;
  height: 40px;
  display: block;
  margin: auto;
}

.hero__title {
  text-align: center;
  margin: 24px 0 0;
}

.hero__text {
  text-align: center;
  margin: 16px 0 0;
}

.hero__img,
.hero__contact-nav {
  margin-top: 40px;
}

.hero__view-nav {
  margin: 40px auto 0;
  justify-content: start;
}

.hero__text.hero__text--small {
  font-size: 16px;
}

.hero__accent-text {
  position: relative;
  padding: 10px 4px;
  background: url('ellipse.af675f36.svg') no-repeat center / contain;
}

.hero__background {
  position: relative;
  margin-top: 40px;
  margin-left: auto;
  padding-left: 30px;
  width: fit-content;
}

.hero__background::before,
.hero__background::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero__background::before {
  width: calc(0.226315789 * (100% - 30px));
  height: 26.8421053%;
  top: 12.368421053%;
  /* 0.2 = 76px / 380px */
  left: calc(-0.2 * (100% - 30px) + 30px);
  transform: rotate(30deg);
  background: url('hero-circle.c1a3b731.svg') no-repeat center /
    contain;
}

.hero__background::after {
  width: calc(0.884210526 * (100% - 30px));
  height: 78.421052632%;
  bottom: -3.947368421%;
  /* 0.118421053 = 45px / 380px */
  left: calc(-0.118421053 * (100% - 30px) + 30px);
  margin-left: auto;
  background: url('hero-circle-2.736a10d4.svg') no-repeat center / contain;
}

.hero__background--desktop {
  display: none;
}

.hero__image {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 380px;
  min-height: 380px;
  max-width: 632px;
  max-height: 632px;

  object-fit: cover;
  object-position: top left;
  overflow: visible;
}

.hero-nav__link span::before,
.view::before {
  content: '';
  position: absolute;
}

.hero-nav__link {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--accent-color);
  font-weight: 700;
}

.hero-nav__link span {
  position: relative;
}

.hero-nav__link span::before {
  left: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.35s ease;
  height: 1px;
  background: var(--accent-color);
  transform: scale(0);
}

.hero-nav__link:hover span::before {
  transform: scale(1);
}

@media screen and (min-width: 410px) {
  .hero__background {
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 100px;
  }

  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
  }

  .hero__background--mobile {
    display: none;
  }

  .hero__background--desktop {
    display: block;
    margin: 0;
    padding: 0;
  }

  .hero__background::before {
    width: calc(0.226315789 * 100%);
    /* height: 26.8421053%;
    top: 12.368421053%; */
    top: 8.386075949%;
    /* 0.2 = 76px / 380px */
    left: auto;
    right: -6.594632768%;
    transform: rotate(0deg);
  }

  .hero__background::after {
    width: calc(0.884210526 * 100%);
    height: 78.421052632%;
    bottom: -3.947368421%;
    /* 0.118421053 = 45px / 380px */
    left: calc(-0.118421053 * 100%);
  }

  .hero__wrapper {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 537px;
  }

  .hero__view-nav {
    margin-left: 0;
    width: 100%;
  }

  .hero__logo {
    margin: 0;
  }

  .hero__title {
    margin-top: 40px;
  }

  .hero__title,
  .hero__text {
    text-align: left;
  }

  .hero__contact-nav {
    flex-direction: row;
    gap: 8px;
  }
}

.footer {
  background: #9b6109;
  padding: 40px 0;
  text-align: center;
}

.copyright {
  margin-bottom: 24px;
}

.footer__txt {
  color: #fff;
  line-height: 1.3
}

.footer__legal>a {
  display: inline;
  text-decoration: underline;
}

.footer__legal>a:last-child {
  margin-left: 24px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.socials__link {
  width: 36px;
  height: 36px;
}
.swiper {
  margin-top: 80px;
  position: relative;
}

.swiper--menu {
  margin-top: 6.5em;
}

.h2--swiper {
  margin-bottom: 30px;
  text-align: center;
}

.swiper__btn {
  margin-top: 132px;
  width: 80px;
  height: 80px;
  display: none;
  justify-content: center;
  align-items: center;
  background: #fff3df;
  border-radius: 100%;
  transition: background 0.35s;
  flex-shrink: 0;
}

.swiper__btn:disabled,
.swiper__btn:disabled:hover {
  cursor: auto;
  background: #faf6ee;
}

.swiper__btn:focus,
.swiper__btn:hover {
  background: #ffe5b9;
}

.swiper__btn:last-of-type > svg {
  transform: rotate(180deg);
}

.swiper__wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.swiper__list {
  padding: 0 27px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper__list::-webkit-scrollbar {
  display: none;
}

.swiper__item {
  flex-basis: 97%;
  flex-shrink: 0;
  flex-grow: 0;
  scroll-snap-align: center;
}

.swiper__figure {
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
}

.swiper__img {
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  width: 100%;
  height: 280px;
}

.swiper__caption {
  padding: 32px 22px 0;
  min-height: 180px;
  height: 100%;
  font-family: Fira Sans;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  background: #fff4e2;
}

.swiper__title {
  font-weight: 700;
  letter-spacing: 0;
}

.swiper__desc {
  margin: 8px 0 0;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .swiper__wrapper {
    padding: 0 27px;
  }

  .swiper__btn {
    display: inline-flex;
  }

  .swiper__wrapper {
    margin: auto;
  }

  .swiper__list {
    padding: 0;
  }

  .swiper__item {
    flex-basis: 100%;
    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    margin-top: 100px;
  }

  .swiper--menu {
    margin-top: 9.375em;
  }

  .swiper__wrapper {
    padding: 0 76px;
    max-width: 1440px;
  }

  .swiper__item {
    flex-basis: calc((100% - 16px) / 2);
    scroll-snap-align: start;
  }
}

@media screen and (min-width: 1300px) {
  .swiper__item {
    flex-basis: calc((100% - (2 * 16px)) / 3);
  }
}

.h2--swiper {
  margin-bottom: 40px;
}

.text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/*# sourceMappingURL=styles.55d27a43.css.map */